container_commands:
  01_npm_install:
    command: "npm ci --production"
    leader_only: true
  02_build:
    command: "npm run build"
    leader_only: true
  03_db_migrate:
    command: "npm run db:push"
    leader_only: true
    ignoreErrors: true

option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
